

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.menu{
  
  background-color: blueviolet;
 
  

}
.cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-right: 10%;
  text-align: center;
}
.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-input {
  padding: 7px;
  font-size: 18px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 4px rgba(66,66,66,.75);
  text-shadow: 0px 0px 1px rgba(66,66,66,.75);
}
.css-input:focus {
  outline:none;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin: 5px;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}



.App h1 {
  text-align: center;
  margin: 36px 0px;
}

.App h2 {
  font-weight: 400;
  margin-bottom: 18px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 72px 0;
}

.current-weather p {
  font-size: 48px;
}

.current-weather p + p {
  font-size: 32px;
}

.forecast ol {
  list-style: none;
}

.forecast ol li {
  padding: 8px 24px;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
}

.forecast ol li + li {
  margin-top: 8px;
}

.forecast ol li h3 {
  font-weight: 400;
  min-width: 120px;
  text-align: left;
}

.forecast ol li div {
  display: flex;
  min-width: 90px;
}

.forecast ol li div svg {
  font-size: 18px;
  margin-right: 8px;
}